#contenedorModuloAdministrador{
  padding: 1vw;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  gap: 1.2vw;
}

#contendorIzquierdo{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2vw;
}
#contenedorIzquierdoSuperior{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  gap: 1.2vw;
  padding: 1vw;
}
#contenedorIzquierdoMedio{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  gap: 1.2vw;
}
#contenedorIzquierdoInferior{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 20px 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-size: 1.5vw;
}

#contendorDerecho{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contenedorDerechoSuperior{
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 20px 0.5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  font-size: 1.5vw;
}
#contenedorDerechoMedio{
  background-color: orange;
  width: 100%;
  height: 20%;
}
#contenedorDerechoInferior{
  background-color: brown;
  width: 100%;
  height: 10%;
}

.totalDe{
  width: 12vw;
  border-radius: 15%;
  box-shadow: 8px 8px 20px 0.5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

#contenedorIzquierdoMedioIzquierdo{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 8px 8px 20px 0.5px rgba(0, 0, 0, 0.1);
  font-size: 1.5vw;
}
#contenedorIzquierdoMedioDerecho{
  box-shadow: 8px 8px 20px 0.5px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  font-size: 1.5vw;
}