@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__encabezado {
  background-color: #000835;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.container__encabezado__imagen {
  width: 200px;
}

.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img__vuelo{
  width: 100%;
  object-fit:scale-down;
  height: 100%;
}

.container__hospedaje {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container_hospedaje_button {
  background-color: #000835;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.container_hospedaje_button__item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container__vuelos {
  background-color: #000835;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

.container__hospedaje__opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container_vuelos_button {
  background-color: #fff;
  color: #000835;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.container_vuelos_button__item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container__hospedaje__opcion {
  display: flex;
  flex-direction: row;
  width: 40%;
  text-align: justify;
  gap: 30px;
}

.container__hospedaje__opcion__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.container__hospedaje__opcion__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  justify-content: space-between;
}

.container__vuelos__opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container__vuelos__opcion {
  display: flex;
  flex-direction: row;
  width: 40%;
  text-align: justify;
  gap: 30px;
}

.container__vuelos__opcion__info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  justify-content: space-between; 
}

.container_hospedaje_button,
.container_vuelos_button{
  margin-top: auto;
}

.container__hospedaje__nombre {
  text-align: center;
}

.container__encabezado__nombre {
  margin-top: 10px;
}

.opcion__link__item > i {
  width: 30px;
  color: #fff;
}

.opcion__link__item .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #000835;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  font-size: 13px;
  position: absolute;
  z-index: 1;
}

.opcion__link__item:hover .tooltiptext {
  visibility: visible;
}